name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: current
          registry-url: https://registry.npmjs.org
      - run: npm install -g npm
      - run: bash .ci/build.sh
      - run: bash .ci/publish.sh
